.sidebar {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  .sidebar-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    height: calc(100vh - 56px);
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .profile{
    background: #efefe9;
    box-shadow: 0px 0px 0px 8px #efefe9;/*線の外側*/
    border: dashed 2px #78C37C;/*破線*/
    border-radius: 5px;
    margin-left: 7px;/*はみ出ないように調整*/
    margin-right: 7px;/*はみ出ないように調整*/
    margin-top: 15px;
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}

#timeline{
//  margin: 0 auto 0 auto;
  // background: grey;//debug
//  max-width: 400px;
//  min-width: 270px;
  .item-wrapper{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #cd828b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    border-radius: 0 0 9px 9px;
    .poster{
      font-weight: bold;
      padding-bottom: 2px;
      border-bottom: dashed 1px;
    }
    .main-text{
      margin: 10px 0;
    }
    input.comment{
      font-weight: bold;
      color: #555;/*文字色*/
      background: #FFF;
      border: solid 2px #6091d3;/*線*/
      border-radius: 5px;/*角の丸み*/
      height: 20px;
      width: 75%;
    }
    input.button {
      background: #f16272;
      border: none;
      color: #fff;
      cursor: pointer;
      height: 26px;
      text-align: center;
      transition: background 0.2s ease-in-out;
      width: 20%;
      border-radius: 5px;
      &:hover {
        background: #ee3e52;
      }
    }
  }
}
